<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Find A Buddy
    </ion-title>
    <ion-icon slot="end" name="add"><ion-label id="currentUser">1</ion-label></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <!--Search Form-->
  <form [formGroup]="searchBuddy" class="searchForm">
    
   
<!--     <ion-item> 
      <ion-label>Age:</ion-label>

      <ion-select formControlName="age">
          
        <ion-select-option value="18-21">
          18-21
        </ion-select-option>

        <ion-select-option value="22-25">
          22-25
        </ion-select-option>

        <ion-select-option value="26-29">
          26-29
        </ion-select-option>

        <ion-select-option value="26-29">
          30 and above
        </ion-select-option>

      </ion-select>
    </ion-item> -->

    <ion-item> 
      <ion-label class="searchLabel">Location: </ion-label>

      <ion-select formControlName="location">

        <ion-select-option value="amk">
          Ang Mo Kio
        </ion-select-option>

        <ion-select-option value="Bedok">
          Bedok
        </ion-select-option>

        <ion-select-option value="Bishan">
          Bishan
        </ion-select-option>

        <ion-select-option value="Toa Payoh">
          Toa Payoh
        </ion-select-option>

        <ion-select-option value="Hougang">
          Hougang
        </ion-select-option>

      </ion-select>
    </ion-item>

<!-- 
    <ion-item> 
      <ion-label>Gender:</ion-label>

      <ion-select formControlName="gender">

        <ion-select-option value="male">
          Male
        </ion-select-option>

        <ion-select-option value="female">
          Female
        </ion-select-option>

        <ion-select-option value="none">
          No Preferrence
        </ion-select-option>

      </ion-select>
    </ion-item> -->
 
   <!--  <ion-item> 
      <ion-label>Fitness Level</ion-label>

      <ion-select formControlName="fitnesslevel">

        <ion-select-option value="5">
          5
        </ion-select-option>

        <ion-select-option value="4">
          4
        </ion-select-option>

        <ion-select-option value="3">
          3
        </ion-select-option>

      </ion-select>
    </ion-item> -->

    <!--add update button-->
    <ion-button expand="block" color="secondary" (click)="search()">
      Search
    </ion-button>
 
    
  </form>


  <ion-card>
  <ion-item *ngFor="let list of user">

    <ion-list>
  <!--     <ion-avatar slot="start">
        <img src="./avatar-rey.png">
      </ion-avatar> -->
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="userList">
                <h2>{{list.username}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row justify-content-end>
              <ion-col no-padding>
                <h4>{{list.Gender}}</h4>
                <h4>{{list.fitnessLevel}}</h4>
                <ion-icon name="send-outline" icon-right (click)="sendRequest()"><ion-label id="label1" style="display:none">{{list.userID}}</ion-label></ion-icon>
              </ion-col>
              <ion-col>
                <h4>{{list.DOB}}</h4>
               
              </ion-col>
            </ion-row>
          </ion-grid>
          
        
        </ion-label>
  
     
    </ion-list>
  </ion-item>

  </ion-card>

</ion-content>
